.craft-street {
    background-image: inline-image('../images/locations/craft-street.png');
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
}

.craft-street {
    .move-to-main-street {
        position: absolute;
        right: 50px;
        top: 400px;
        color: #111111;
        text-decoration: none;
    }
    .move-to {
        position: absolute;
        color: #111111;
        text-decoration: none;
    }
    .move-to-woodworker{
        left: 12px;
        top: 326px;
    }
    .move-to-mason{
        left: 160px;
        top: 262px;
    }
    .move-to-smeltery{
        left: 188px;
        top: 248px;
    }
    .move-to-herbal{
        left: 227px;
        top: 234px;
    }
    .move-to-weaponsmithy{
        left: 276px;
        top: 255px;
    }
    .move-to-armorsmithy{
        left: 392px;
        top: 240px;
    }
    .move-to-tailor{
        left: 514px;
        top: 241px;
    }
    .move-to-alchemist{
        left: 609px;
        top: 243px;
    }
    .move-to-pharmacist{
        left: 865px;
        top: 327px;
    }
    .move-to-cook{
        left: 694px;
        top: 245px;
    }
    .move-to-jeweler{
        left: 761px;
        top: 263px;
    }
    .move-to-tanner{
        left: 730px;
        top: 243px;
    }
}