.home {
    background-image: inline-image('../images/locations/home.png');
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
}
.home {
  .move-to {
    position: absolute;
    color: #111111;
    text-decoration: none;
  }
  .move-to-farm {
    display: block;
    height: 300px;
    right: 20px;
    position: absolute;
    top: 170px;
    width: 45px;
    &:hover{
        background-color: rgba(100,100,100,0.2);
    }
    z-index: 2;
  }
  .move-to-city{
    display: block;
    height: 300px;
    left: 20px;
    position: absolute;
    top: 170px;
    width: 45px;
    &:hover{
        background-color: rgba(100,100,100,0.2);
    }
    z-index: 2;
  }
}