.location{
    background-image: inline-image('../images/locations/map.png');
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
}
.collect-resources-panel{
    background-color: rgba(200,200,200,0.6);
    border-radius: 4px;
    position: absolute;
    bottom: 10px;
    right: 150px;
    padding: 5px;

}
.btn-resource {
    width: 40px;
    height: 40px;
    background-color: rgba(100,100,100,0.8);
    border-radius: 3px;
    margin: 0px 3px;
    display: inline-block;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    &:hover {
        background-color: rgba(200,200,200,0.9);
    }
}
.resource-wood {
    background-image: inline-image('../images/action-icon-wood.png');
}
.resource-metal {
    background-image: inline-image('../images/action-icon-metal.png');
}
.resource-stone {
    background-image: inline-image('../images/action-icon-stone.png');
}
.resource-crystal {
    background-image: inline-image('../images/action-icon-cristal.png');
}
.resource-herbary {
    background-image: inline-image('../images/action-icon-herbary.png');
}
.resource-cereal {
    background-image: inline-image('../images/action-icon-cereal.png');
}
.resource-fruit {
    background-image: inline-image('../images/action-icon-fruit.png');
}
.resource-vegetable {
    background-image: inline-image('../images/action-icon-vegetable.png');
}
.resource-animal {
    background-image: inline-image('../images/action-icon-animal.png');
}
.resource-bird {
    background-image: inline-image('../images/action-icon-bird.png');
}
.resource-fish {
    background-image: inline-image('../images/action-icon-fish.png');
}
.resource-animal-animal {

}
.resource-insect {
    background-image: inline-image('../images/action-icon-insect.png');
}